@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar::-webkit-scrollbar-track {
  background-color: #0038f1;
  color: red;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: #ff0707;
}
/* Your custom CSS goes below (if needed) */

* {
  font-family: 'figtree';
}