@import "tailwindcss";

/* TAILWIND V4 SYNTAX */
@theme {
  --color-primary: #141552;
  --color-secondary: #252779;
  --color-tertiary: #23105a;
  --color-fourtiary: #1c113a;
  --color-darkpurple: rgb(101 77 123 / <alpha-value>);
  --color-purple: rgb(154, 84, 186);
  --color-linear-custom: linear-gradient(
    to bottom right,
    #1c113a,
    #23105a,
    #252779
  );

  --font-display: "Figtree", sans-serif;
  --font-manjari: "Manjari", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-manjari: "Manjari", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-figtree-italic: "Figtree", sans-serif;
  --font-manjari-italic: "Manjari", sans-serif;
  --font-figtree-bold: "Figtree", sans-serif;
  --font-manjari-bold: "Manjari", sans-serif;
  --font-figtree-extrabold: "Figtree", sans-serif;

  --font-manjari-extrabold: "Manjari", sans-serif;
  --font-figtree-black: "Figtree", sans-serif;
  --font-manjari-black: "Manjari", sans-serif;
  --font-figtree-light: "Figtree", sans-serif;
  --font-manjari-light: "Manjari", sans-serif;
  --font-figtree-thin: "Figtree", sans-serif;
  --font-manjari-thin: "Manjari", sans-serif;
  --font-figtree-medium: "Figtree", sans-serif;
  --font-manjari-medium: "Manjari", sans-serif;
  --font-figtree-semibold: "Figtree", sans-serif;
  --font-manjari-semibold: "Manjari", sans-serif;
  --font-figtree-extralight: "Figtree", sans-serif;
  --font-manjari-extralight: "Manjari", sans-serif;
  --font-figtree-hairline: "Figtree", sans-serif;
  --font-manjari-hairline: "Manjari", sans-serif;
  --font-figtree-regular: "Figtree", sans-serif;
  --font-manjari-regular: "Manjari", sans-serif;
  --font-figtree-mediumitalic: "Figtree", sans-serif;
  --font-manjari-mediumitalic: "Manjari", sans-serif;
  --font-figtree-semibolditalic: "Figtree", sans-serif;
}

/* CODE FROM V3 TAILWIND.config */
/* 
@theme {
   theme: {
    extend: {
      colors: {
        primary: "#141552",
        secondary: "#252779",
        tertiary: "#23105A",
        fourtiary: "#1C113A",
        darkpurple: "rgb(101 77 123 / <alpha-value>)",
        purple: "rgb(154, 84, 186)",
      },


      backgroundImage: {
        "linear-custom":
          "linear-gradient(to bottom right, #1C113A, #23105A, #252779)",
        "login-bg": "url('/src/assets/images/loginbg.jpg')",
        "text-gradient-ul": "linear-gradient(to top left, #C15DEF, #FFFFFF)",
      },

      fontFamily: {
        figtree: ["Figtree", "sans-serif"],
        manjari: ["Manjari", "sans-serif"],
      },
    },
  },
}
} */
