@tailwind base;
@tailwind components;
@tailwind utilities;

/* Figtree Thin */
@font-face {
  font-family: 'Figtree';
  src: url('/frontend/src/assets/fonts/Manjari-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Figtree Regular */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Figtree Bold */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}